{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<div class="main-container">
  <div class="form-container">
      <h1>SpeedyLink</h1>
      <p>Приветствую, {{ user.username }}!</p>

      <p>Введите длинную ссылку ниже, и мы создадим для вас короткую ссылку.</p>
      <form action="" method="POST">
          {% csrf_token %}
          <label for="original_url">Длинная ссылка:</label>
          <input type="url" id="original_url" name="original_url" required style="text-align: center;">
          <button type="submit">Сократить</button>
      </form>

      {% if short_code %}
      <div class="shortened-link">
          <p>Сокращенная ссылка:</p>
          <a href="{{ request.scheme }}://{{ request.get_host }}/{{ short_code }}/">{{ request.scheme }}://{{ request.get_host }}/{{ short_code }}/</a>
      </div>
      {% endif %}
      <a href="{% url 'logout' %}" class="button-like">Выйти</a>
  </div>
  <div class="table-container">
    <h2>Моя история</h2>
    <table class="scrollable-table">
      <thead>
        <tr>
          <th>Оригинальная ссылка</th>
          <th>Короткая ссылка</th>
        </tr>
      </thead>
      <tbody>
        {% for link_pair in link_pairs %}
          <tr>
            <td><a href="{{ link_pair.0 }}" target="_blank">{{ link_pair.0 }}</a></td>
            <td><a href="{{ link_pair.1 }}" target="_blank">{{ link_pair.1 }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}